<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>News标签Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B631BD6A1DEFCDC900AA6D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B631BD831DEFCDCC00AA6D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B631BD8E1DEFCDCE00AA6D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
